.st-footer {
  /* background: #f5f5f5; */
  color: #333;
  padding: 60px 20px 20px;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

.st-footer-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.third{
  margin-left: -120px;
}

.st-footer-section {
  flex: 1 1 250px;
  min-width: 250px;
}

.st-footer-logo {
  height: 60px;
  margin-top: 35px;
 /* border: 2px solid red; */
}

.heading{
  font-size: 16px;
  margin-bottom: 15px;
  color: #013547;
}

.st-footer-section ul {
  list-style: none;
  padding: 0;
}

.st-footer-section ul li {
  margin-bottom: 10px;
}

.st-footer-section a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

.st-footer-section a:hover {
  color: #0067b8;
}

.st-footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  border-top: 1px solid #ccc;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .st-footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
