.page2-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
 background: 
 linear-gradient(to right, white, rgba(155, 153, 153, 0.171),white);
 background-color: rgba(0, 0, 0, 0.075);
}

.page2-item {
  text-align: center;

}

.page2-icon {
  width: 55px;
  margin-bottom: 10px;
}

.page2-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
  text-align: center;
}

.page2-desc {
  font-size: 13px;
  color: #555;
  text-align: center;
  max-width: 250px;
  line-height: 1.4;
    /* border: 2px solid red; */
}
