/* Container */
.ind-sec {
  color: #111;
  background: #fff;
  padding: 60px 20px;
  /* border: 2px solid red; */
}

/* Title */
.ind-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  text-align: center;
  color: #065876;
}

/* Grid */
.ind-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Card */
.ind-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 550px;
  overflow: hidden;
  /* border-radius: 6px; */
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.404);
}

.ind-card:hover {
  transform: translateY(-10px);
}

/* Image */
.ind-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  /* border-radius: 6px; */
  margin-bottom: 24px;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.ind-card:hover .ind-img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

/* Overlay */
.ind-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  transition: background 0.5s ease;
  /* border-radius: 6px; */
}

.ind-card:hover::after {
  background: rgba(0,0,0,0.2);
}

/* Content */
.ind-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.ind-card:hover .ind-content {
  transform: translateX(10px);
  opacity: 0.95;
}

/* Title & Description */
.ind-name {
  font-size: 22px;
  font-weight: 700;
  padding: 0 30px;
  letter-spacing: 0.5px;
  /* text-transform: uppercase; */
  margin: 0 0 1px 0;
  color: #111;
  /* border: 2px solid red; */
}

.ind-desc {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  max-width: 420px;
  padding: 0 30px 0 30px;
  text-align: justify;
  /* border: 2px solid red; */
}

/* Responsive */
@media screen and (max-width: 768px) {
  .ind-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .ind-content {
    padding-left: 16px;
  }
}


.ind-arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  /* background: #111; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.arrow-symbol {
  color: block;
  font-size: 22px;
  animation: slideArrow 1.5s infinite ease-in-out;
}
