/* .stats-container {
  text-align: center;
  padding: 20px 20px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
  

}

.stats-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.stats-container_logo {
  width: 90px;
  margin-bottom: -5px;
}

.stats-container_headline {
  font-size: 32px;
  margin: -15px;
  margin-bottom: 40px;
  
}

.stats-grid {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
  padding: 0 160px 20px;
  margin-right:15px ;
    border: 2px solid red;
}

.stat-item_h3 {
  font-size: 32px;
  margin: 0;
  font-weight: bold;
}

.stat-item_p {
  margin: 5px 0 0;
  font-size: 18px;
  line-height: 1.4;
  white-space: pre-line;
  text-align: center;
}

.cta-button {
  margin-top: 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #005bb5;
} */
