.PowerApps_1__container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
   /* border: red 2px solid; */
    width: 99.99%;
  height: 780px;
}

/* Hero Section */
.PowerApps_1__hero {
  position: relative;
  width: 100%;
  height: 81vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
 
}

/* Content Section */
.PowerApps_1__content {
    display: flex;
  width: 80%;
  max-width: 900px;
  padding-left: 500px;
  position: relative;
  z-index: 1;
}

/* Logo Section */
.PowerApps_1__logoSection {
  margin-bottom: 20px;
}

.PowerApps_1__logo {
  width: 120px;
  height: auto;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 10px;
  /* border: red 2px solid; */
}

/* Headings */
.PowerApps_1__heading1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
  color: white;
}

.PowerApps_1__heading2 {
  margin: 0;
  font-size: 3.6rem;
  font-weight: 600;
  color: white;
}

/* Description Section */
.PowerApps_1__description {
  padding: 20px;
  margin: 0 50px;
  text-align: justify;
  color: black;
}

.PowerApps_1__descriptionText {
  font-size: 1rem;
  line-height: 1.6;
}

.PowerApps_1__highlight {
  /* color: #8d2e82; */
  font-weight: 600;
}
