.business-central-container {
  display: flex;
  /* justify-contexnt: space-between; */
  align-items: center;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 50px;
  font-family: "Segoe UI", sans-serif;
  height: 600px;
  width: 93.4%;
  /* border: red 2px solid; */
}

.business-central-text {
  /* font-size: 1.5rem;
  margin-right: 40px; */
  /* border: red 2px solid; */
  height: 500px;
  width: 600px;
  /* padding: 20px; */
  text-align: justify;
  align-items: center;
  /* padding-top: 100px; */
  margin-top: 140px
}

.business-central-paragraph {
  margin: 0;
  /* border: red 2px solid; */
}

.business-central-logo{
    /* border: red 2px solid; */
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}

.logo-icon {
  width: 700px;
  height: 350px;
  margin-top: -10px;
  margin-left: 110px;
   /* border: red 2px solid; */
}

.logo-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
   /* border: red 2px solid; */
}

.logo-subtitle {
  color: #d0d0d0;
  font-size: 1.9rem;
   /* border: red 2px solid; */
}

.logo-title {
  color: #ffffff;
  font-size: 2.9rem;
  font-weight: 380;
   /* border: red 2px solid; */
   margin-top: -22px;
}
