.aboutUsPage8Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 40px;
  background-color: #fff;
  color: #000;
  gap: 20px;
margin-bottom: 40px;
  /* Start hidden and shifted right */
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Class added by Intersection Observer */
.animateFadeInRight {
  opacity: 1;
  transform: translateX(0);
}

.aboutUsPage8LeftSide {
  flex: 1 1 510px;
  min-width: 300px;
}

.aboutUsPage8MapWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.aboutUsPage8MapImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease;
}

.aboutUsPage8RightSide {
  flex: 1 1 475px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.aboutUsPage8SubHeading {
  font-weight: 600;
  font-size: 28px;
  margin-top: 20px;
  color: #065876;
}

.aboutUsPage8Description {
  font-weight: 400;
  font-size: 16px;
  margin-top: -10px;
  line-height: 1.5;
  text-align: justify;
  margin-right: 30px;
  width: 692px;
  margin-left: -35px;
  padding-left: 20px;
   /* border: 2px solid red; */
}

.aboutUsPage8Description_li{
 
  padding-top: 10px;
  /* border: 2px solid red; */
}

