.footer {
  background-color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-top {
  padding: 20px 20px;
}

.footer-logo {
  width: 200PX;
  margin-top: 10px;
}

.footer-top h1 {
  margin: 1px;
  font-size: 40px;
  font-weight: 500;
  color: #035C75;
}

.footer-divider {
  height: 1px;
  background-color: #888;
  border: none;
  width: 95%;
  margin-top: 60px;
  /* border: 2px solid red; */

}

.footer-columns {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding-top: -130px;
  flex-wrap: wrap;
  padding: 0 40px 0 40px;
  text-align: start;
}

.footer-column .left p {
  text-align: left;

}

.footer-column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer-column li {
  margin: 5px 0;
}

.anchor a {
  text-decoration: none;
  color: black;
}

.footer-column p {
  margin: 5px 0;
}

.social-icons1 {
  margin-top: 10px;
  margin-left: -10px;
  /* border: 2px solid red; */
}

.social-icons1 a {
  margin: 0 8px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.footer-bottom {
  background-color: #035C75;
  color: #fff;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  /* gap: 10px;
  flex-wrap: wrap; */

}

.bottom-right {
  display: flex;
  align-items: center;
  margin-bottom: -8px;
  margin-left: 70px;
}

.footer-icon {
  height: 30px;
}

.footEnd {
  font-size: 12px;
  padding-right: 20px;
  color: white;
  padding-top: 20px;
}




















/* 
.footer {
  text-align: center;
  padding: 25px 20px;
  background: #023f50;
  color: white;
  font-size: 14px;
} */