.PowerBI_4-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(90deg, #220028, #3a004f); */
  padding: 10px 50px;
  padding-top: 70px;
  color: white;
  font-family: "Poppins", sans-serif;
  height: 650px;
  /* border: red 2px solid; */
}

.PowerBI_4-left {
  width: 45%;
  /* border: red 2px solid; */
}

.PowerBI_4-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: -90px;
  color: #333;
  /* border: red 2px solid; */
}

.PowerBI_4-list {
  list-style: none;
  padding: 0;
  /* margin: 0 0 30px 0; */
  margin-top: 40px;
  /* border: red 2px solid; */
}

.PowerBI_4-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.PowerBI_4-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 8px;
}

.PowerBI_4-dot-red {
  background-color: rgb(255, 217, 0);
}

.PowerBI_4-dot-pink {
  background-color: rgb(255, 217, 0);
}

.PowerBI_4-dot-purple {
  background-color: rgb(255, 217, 0);
}

.PowerBI_4-list strong {
  font-size: 18px;
  color: #333;
}

.PowerBI_4-list p {
  margin: 2px 0 0 0;
  color: #333;
  font-size: 14px;
}

.PowerBI_4-text {
  color: #333;
  font-size: 14px;
  line-height: 1.6;
}

.PowerBI_4-right {
  width: 50%;
  position: relative;
  width: 650px;
  /* border: red 2px solid; */
}

.PowerBI_4-image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: red 2px solid; */
}

/* .PowerBI_4-image {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  margin-top: -80px;
  border: red 2px solid;
} */

.PowerBI_4-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PowerBI_4-svg {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
