.about-page3-container {
  display: flex;
  height: 410px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
   /* border: 2px solid red; */
   
}

.animateFadeInLeft {
  opacity: 1;
  transform: translateX(0);
  margin-left: 20px;
   
}

.about-page3-left {
  flex: 1;
  padding: 40px;
   /* border: 2px solid red; */
}

.about-page3-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #065876;
   /* border: 2px solid red; */
}

.about-page3-text {
  font-size: 16px;
  margin-bottom: 20px;
  width: 600px;
  text-align: justify;
  letter-spacing: 0.2px;
  line-height: 1.7;
  word-spacing: 0.9px;
}

.about-page3-right {
  flex: 1 1 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
   /* border: 2px solid red; */
   margin-right: 40px;
}

.about-page3-video {
  width: 100%;
  height: 98%;
  object-fit: cover;
   /* border: 2px solid red; */
}

/* Play/Pause Button */
.video-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border-radius: 20px;
  border: none;
  color: #000;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
}

.play-btn,
.pause-btn {
  width: 35px;
  height: 35px;
  font-size: 26px;
}

/* Optional hover effect */
/*
.video-btn:hover {
  transform: scale(1.2);
}
*/
