/* Navbar.css */

.nav {
  position: fixed;
  top: 0;
  width: 100%;
 color: #000;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border: red solid 2px; */
  height: 80px ;
}

/* body {
  margin: 0;
  padding-top: 100px;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  height: 80px;
}

.nav-left {
  display: flex;
  align-items: center;
  padding-left: 60px;
  
}

.securesign {
  font-size: 14px;
  color: black;

}

.s1 {
  font-size: 23px;
}

.s2 {
  font-size: 10px;
  padding-left: 15px;

}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 70px;
  font-size: 18px;
}

.nav-menu a {
  margin: 0 15px;
  text-decoration: none;
  color:black;
  font-weight: 500;
  cursor: pointer;
}

.nav-menu a:hover {
  color: rgb(92, 87, 87);
  text-decoration: underline;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #035C75;
    
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 10px 0;
  }

  .nav-menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-left {
    padding-left: 0;
  }

  .nav-menu a {
    margin: 10px 0;
  }

  .navbar {
    padding: 0 15px;
  }
}

html {
  scroll-behavior: smooth;
}