.nav_4-container {
  background: linear-gradient(to right, #cbe5f3, #e5f2f8);
  padding: 40px;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
  height: 680px;
}

.nav_4-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #1a3c6e;
  margin-top: -10px;
}

.nav_4-timeline {
  position: relative;
  width: 100%;
  height: 450px;
  margin: auto;
  margin-top: 50px;
}

.nav_4-line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  background-color: #0078d4;
  z-index: 1;
}

.nav_4-event {
  position: absolute;
  top: 39%;
  width: 170px;
  margin-left: -50px;
  text-align: center;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: center;
}

.nav_4-show {
  opacity: 1;
}

.nav_4-dot {
  width: 12px;
  height: 12px;
  background-color: #0078d4;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.nav_4-connector {
  width: 2px;
  height: 0;
  background-color: #0078d4;
  margin: 0 auto;
  transition: height 0.5s ease;
}

.nav_4-show .nav_4-connector {
  height: 40px;
}

.nav_4-year {
  font-weight: bold;
  color: #004578;
  margin-bottom: 6px;
}

.nav_4-text {
  font-size: 12px;
  color: #333;
  word-wrap: break-word;
  margin: auto;
}

/* Logos */
.nav_4-logo {
  display: block;
  margin: auto;
  max-width: 60px;
  height: auto;
  margin-bottom: 5px;
}

/* Boxes */
.nav_4-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav_4-box {
  background: linear-gradient(to right, #cbe5f3, #e5f2f8);
  color: white;
  border: red 2px solid;
  border-radius: 8px;
  font-weight: 600;
  height: 300px;
  font-size: 15px;
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.nav_4-box.show-box {
  transform: translateY(0);
  opacity: 1;
}

/* Box 1 timeline adjustments */
.nav_4-in-box .nav_4-event {
  width: 120px;
  font-size: 11px;
}

.nav_4-in-box .nav_4-connector {
  height: 25px !important;
}

.nav_4-in-box .nav_4-event.nav_4-top {
  transform: translateY(-30px) scale(1);
}

.nav_4-in-box .nav_4-event.nav_4-bottom {
  transform: translateY(30px) scale(1);
}

.nav_4-in-box .nav_4-year {
  font-size: 12px;
  margin-bottom: 2px;
}

.nav_4-in-box .nav_4-text {
  font-size: 10px;
  line-height: 12px;
}

.nav_4-in-box .nav_4-logo {
  max-width: 30px;
  margin-bottom: 2px;
}
